


:root {
    --footer-background: #0F0326;
    --text-color: #F5F7DC;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
}

html {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/*? footer containers */

footer {
    position: absolute;
    bottom: 0px;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
    color: #F5F7DC;
}

.footer-line {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(
        90deg,#5da8ff,
        #605dff 50%,#ad63f6
    );
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    
}

.footer-subscribe > input {
    border : none;
    color: var (--footer-background);
    min-height: 26px;
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 2px 8px;
    border-bottom: 2.5px solid #F5F7DC;
    outline: none;
    padding-bottom: 5px;
}

.footer-subscribe > button {
    cursor: pointer;
    background-color: #FFFF82;
    border-radius: 8px;
    color: var( --footer-background);
    font-size: 1.25rem;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
    color:#FFFF82;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.footer-columns h3 {
    color: var(--footer-heading-gray);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 180px;
    gap: 8px;
}

.footer-logo > svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 50px;
}

/*? Footer bottom */

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(
        --text-gray
    );
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
    color: var(--text-color);
}

.footer-headline > h2 {
    margin: 0px;
}

.footer-headline > p {
    margin: 12px 0px;
}

/*? socials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: white;
    display: grid;
    place-items: center;
    height: 100vh;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.social-media-button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;
}

.social-media-button:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

.social-media-button img {
    transition: all 0.3s;
}

.social-media-button:hover img {
    transform: scale(1.15);
}

.social-media-button:hover:nth-child(1) {
    background:  radial-gradient(
        circle at 30% 107%, #fdf497 0%, 
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%,#285AEB 90%
    ); 
}

.social-media-button:hover:nth-child(2) {
    background-color: white;
}

.social-media-button:hover:nth-child(2) svg {
    stroke: #0F1419;
}

.social-media-button:hover:nth-child(3) {
    background-color: #e52d27;
}

.social-media-button:hover:nth-child(4) {
    background-color:  #0A66C2;
}

/*? mobile */

@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
}


