@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);

.site-navbar {
  margin-bottom: 0;
  z-index: 1999;
  position: absolute;
  width: 100%;
  top: 2rem
}

.site-navbar .container-fluid {
  padding-left: 7rem;
  padding-right: 7rem
}

@media (max-width:1199.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px
  }
}

.site-navbar .site-logo {
  position: absolute;
  left: 5%
}

@media (max-width:767.98px) {
  .site-navbar .site-logo {
    position: relative;
    left: auto
  }
}

.site-navbar .site-logo a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase
}

.site-navbar .right-cta-menu {
  position: absolute;
  right: 5%
}

@media (max-width:767.98px) {
  .site-navbar .right-cta-menu {
    position: relative;
    right: auto
  }
}

.site-navbar .site-menu-toggle {
  color: #fff;
  line-height: 0;
  font-size: 2.5rem;
  position: relative
}

@media (max-width:767.98px) {
  .site-navbar .site-menu-toggle {
    margin-left: 5px
  }
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
  -webkit-transition: .2s all cubic-bezier(.66, .2, .48, .9);
  -o-transition: .2s all cubic-bezier(.66, .2, .48, .9);
  transition: .2s all cubic-bezier(.66, .2, .48, .9)
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  position: relative
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

h1,
h2,
h3,
h4 {
  color: #000
}

.site-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  z-index: 2
}

@media (max-width:991.98px) {
  .site-section {
    padding-top: 3rem;
    padding-bottom: 3rem
  }
}

.home-section {
  position: relative
}

.home-section>.container {
  z-index: 2;
  position: relative
}

.home-section h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 200
}

@media (max-width:991.98px) {
  .home-section h1 {
    font-size: 2rem
  }
}

.home-section p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, .6)
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
}

.bg-image.fixed {
  background-attachment: fixed
}

.bg-image.overlay-primary {
  position: relative
}

.bg-image.overlay-primary:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(137, 186, 22, .9);
  z-index: 1
}

.bg-image.overlay-primary>.container {
  position: relative;
  z-index: 2
}

.logo-1 {
  max-width: 200px
}

@media (max-width:767.98px) {
  .logo-1 {
    max-width: 150px
  }
}

.logo-2 {
  max-width: 150px
}

@media (max-width:767.98px) {
  .logo-2 {
    max-width: 100px
  }
}

.logo-3 {
  max-width: 120px
}

@media (max-width:767.98px) {
  .logo-3 {
    max-width: 75px
  }
}

.logo-4 {
  max-width: 100px
}

@media (max-width:767.98px) {
  .logo-4 {
    max-width: 75px
  }
}

.logo-5 {
  max-width: 50px
}

@media (max-width:767.98px) {
  .logo-5 {
    max-width: 50px
  }
}

.logo-6 {
  max-width: 150px
}

@media (max-width:767.98px) {
  .logo-6 {
    max-width: 150px
  }
}

.logo-7 {
  max-width: 180px
}

@media (max-width:767.98px) {
  .logo-7 {
    max-width: 150px
  }
}

.logo-8 {
  max-width: 90px
}

@media (max-width:767.98px) {
  .logo-8 {
    max-width: 90px
  }
}

.job-listings {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  background: #fff
}

.job-listings .badge {
  color: #fff;
  padding: 4px 10px
}

@media (max-width:991.98px) {
  .job-listings .custom-width {
    width: 100% !important
  }
}

.job-listings .job-listing {
  position: relative;
  border-bottom: 1px solid #eee;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.job-listings .job-listing:last-child {
  border-bottom: none
}

.job-listings .job-listing a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.job-listings .job-listing a:hover {
  border-left: 7px solid #89ba16
}

.job-listings .job-listing .job-listing-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  border-right: 1px solid #eee
}

@media (max-width:575.98px) {
  .job-listings .job-listing .job-listing-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }
}

.job-listings .job-listing-position h2 {
  font-size: 1.2rem;
  margin-bottom: 0
}

.job-listings .job-listing-position strong {
  color: #b3b3b3
}

.section-title {
  font-size: 2rem;
  font-weight: 700
}

.section-hero,
.section-hero>.container>.row {
  height: 100vh;
  min-height: 900px
}

.section-hero.overlay,
.section-hero.overlay-2 {
  position: relative
}

.section-hero.overlay-2:before,
.section-hero.overlay:before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5)
}

.section-hero.overlay-2:before {
  background: rgba(125, 131, 132, .95)
}

.section-hero>.container {
  z-index: 2;
  position: relative
}

.btn:after,
.btn:before {
  display: none
}

.btn:active,
.btn:focus,
.btn:hover {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.btn.btn-primary {
  color: #0f0326;
  background: #ffff82;
  border-color: #ffff82
}

.btn.btn-primary:hover {
  background: #ffff82;
  border-color: #ffff82
}

.btn.btn-outline-white {
  background: 0 0;
  border-width: 2px;
  border-color: #ffff82;
  color: #0f0326
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #000
}

.btn.btn-outline-primary {
  color: #89ba16
}

.btn.btn-outline-primary:hover {
  color: #fff;
  background: #89ba16
}

.border-width-2 {
  border-width: 2px !important
}

.btn-md {
  padding: 12px 20px
}

.block__19738 {
  text-align: center
}

.block__19738 [class^=flaticon-],
.block__19738 [class^=icon-] {
  font-size: 2.5rem
}

.block__62849 .block__16443 {
  background: #fff;
  padding: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
  position: relative;
  text-decoration: none
}

.block__62849 .block__16443 .custom-icon {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #89ba16;
  background: #89ba16;
  margin-bottom: 1.5rem;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.block__62849 .block__16443 .custom-icon:before {
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid rgba(137, 186, 22, .2)
}

.block__62849 .block__16443 [class^=flaticon-],
.block__62849 .block__16443 [class^=icon-] {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s all cubic-bezier(.66, .2, .48, .9);
  -o-transition: .3s all cubic-bezier(.66, .2, .48, .9);
  transition: .3s all cubic-bezier(.66, .2, .48, .9)
}

.block__62849 .block__16443 h3 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem
}

.block__62849 .block__16443 p {
  color: #7f848c
}

.block__62849 .block__16443:hover {
  top: -20px;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .2)
}

@media (max-width:991.98px) {
  .block__62849 .block__16443:hover {
    top: 0
  }
}

.block__62849 .block__16443:hover .custom-icon {
  background: 0 0
}

.block__62849 .block__16443:hover .custom-icon [class^=flaticon-],
.block__62849 .block__16443:hover .custom-icon [class^=icon-] {
  color: #89ba16
}

.block__87154 {
  position: relative;
  background: #f8f9fa;
  padding: 30px;
  margin-bottom: 2rem;
  border-radius: 7px
}

.block__87154.bg-primary {
  -webkit-box-shadow: 0 5px 30px -5px rgba(137, 186, 22, .8);
  box-shadow: 0 5px 30px -5px rgba(137, 186, 22, .8)
}

.block__87154.bg-primary p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic
}

.block__87154 :last-child {
  margin-bottom: 0
}

.block__87154 .block__91147 img {
  max-width: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 0
}

.block__87154 .block__91147 h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem
}

.block__87154 .position {
  font-size: .8rem;
  color: #adb5bd
}

.block__87154 .position.position-2 {
  color: rgba(255, 255, 255, .6)
}

.block__96788 {
  position: relative;
  display: block
}

.block__86547 {
  position: relative;
  background: #f8f9fa;
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: .2s all cubic-bezier(.66, .2, .48, .9);
  -o-transition: .2s all cubic-bezier(.66, .2, .48, .9);
  transition: .2s all cubic-bezier(.66, .2, .48, .9);
  top: 0
}

.block__86547>div {
  padding: 40px
}

.block__86547>div h3 {
  font-size: 1.4rem
}

.block__86547>div h3 a {
  color: #000
}

.block__86547>div h3 a:hover {
  text-decoration: none
}

.block__86547>div .block__27192>a {
  font-size: .9rem;
  display: inline-block;
  margin: 10px 20px;
  margin-left: 0;
  color: #495057
}

.block__86547>div .block__27192>a span {
  color: #adb5bd
}

.block__86547>div .block__27192>a:hover {
  text-decoration: none
}

.block__86547:hover {
  top: -10px;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, .2)
}

.block__45439 {
  padding: 7em 0
}

.site-menu-toggle:hover {
  text-decoration: none
}

.site-footer {
  position: relative;
  background-color: #0f0326;
  padding: 20px
}

@media (max-width:991.98px) {
  .site-footer {
    padding: 2rem 0
  }
}

.site-footer h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fff
}

.site-footer a {
  color: rgba(255, 255, 255, .5)
}

.site-footer a:hover {
  color: #fff
}

.site-footer ul li {
  margin-bottom: .5rem
}

.site-footer ul li a {
  color: rgba(255, 255, 255, .5)
}

.site-footer ul li a:hover {
  color: #fff
}

.site-footer .scroll-top {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.site-footer .scroll-top>span {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000 !important
}

.social a:hover {
  background: #343a40
}

.social a:hover span {
  color: #fff
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 20px;
    opacity: 0
  }
}

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 20px;
    opacity: 0
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 20px;
    opacity: 0
  }
}

.block__18514 .block__47528 li {
  margin-bottom: 10px
}

.block__18514 .block__47528 li span {
  font-weight: 700;
  color: #000
}

.block__18514 .block__47528 li a {
  display: block
}

.single-carousel img {
  max-width: 400px;
  margin-left: auto
}

@media (max-width:991.98px) {
  .single-carousel img {
    margin-left: auto;
    margin-right: auto
  }
}